<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">    
	<head>
		<div th:replace="~{fragment :: meta}"></div>   
		<div th:replace="~{fragment :: styles}"></div>
           <!-- Flatpickr -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
         
		<title>レビュー一覧ページ</title>   
	</head>
	<body>
		<div class="samuraitravel-wrapper">
             <!-- ヘッダー -->
             <div th:replace="~{fragment :: header}"></div>
         
		<main>
			<div class="container pt-4 pb-5 samuraitravel-container">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<nav class="mb-4" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">                        
									<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
									<li class="breadcrumb-item"><a th:href="@{/houses}">民宿一覧</a></li>
									<li class="breadcrumb-item"><a th:href="@{/houses/show}">民宿詳細</a></li>
									<li class="breadcrumb-item active" aria-current="page">レビュー一覧</li>
							</ol>
						</nav>
                             
				<h1 class="mb-4 text-center" th:text="${house.getName()} + 'のレビュー一覧'"></h1>
                             
						<div class="container pt-4 pb-5 samuraitravel-container">
							<div class="row justify-content-center">
									<div class="reviews-page">
										<div class="row">
										<div th:each="review : ${reviewPage}" class="col-md-6 ">
											<div class="card mb-4">
												<div class="card-body">
													<div class="d-flex justify-content-between align-items-center">
														<h5 class="card-title" th:text="${review.user.name}"></h5>
														<div sec:authorize="isAuthenticated()">
														<div th:if="${review.user.id == #authentication.principal.user.id}">
            												<a th:href="@{/reviews/edit/{id}(id=${review.getId()})}" class="me-2">編集</a>
            												<a href="#" class="samuraitravel-link-danger" data-bs-toggle="modal" th:data-bs-target="${'#deleteReviewModal' + review.getId()}">削除</a>
        												</div>
        												</div>
													</div>
													
										<!-- 削除用モーダル -->
                                         <div class="modal fade" th:id="${'deleteReviewModal' + review.getId()}" tabindex="-1" th:aria-labelledby="${'deleteReviewModalLabel' + review.getId()}">
                                             <div class="modal-dialog">
                                                 <div class="modal-content">
                                                     <div class="modal-header">
                                                         <h5 class="modal-title" th:id="${'deleteReviewModalLabel' + review.getId()}" th:text="${house.getName() + 'のレビューを削除してもよろしいですか？'}"></h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                                                     </div>
                                                     <div class="modal-footer">
                                                         <form method="post" th:action="@{/reviews/{id}/delete(id=${review.getId()})}">
                                                             <button type="submit" class="btn samuraitravel-btn-danger text-white shadow-sm">削除</button>
                                                         </form>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div> 
													<div class="review-rating">
														<span class="star" th:switch="${review.rankStar}">
															<span th:case="1">&#9733;&#9734;&#9734;&#9734;&#9734;</span>
															<span th:case="2">&#9733;&#9733;&#9734;&#9734;&#9734;</span>
										 					<span th:case="3">&#9733;&#9733;&#9733;&#9734;&#9734;</span>
										 					<span th:case="4">&#9733;&#9733;&#9733;&#9733;&#9734;</span>
															<span th:case="5">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
														</span>
													</div>
													<p class="card-text text-muted small">
														<span th:if="${review.updatedAt != null and review.updatedAt != review.reviewedAt}" 
															  th:text="${#dates.format(review.updatedAt, 'yyyy年MM月dd日')}">
														</span>

														<span th:if="${review.updatedAt == null or review.updatedAt == review.reviewedAt}" 
															  th:text="${#dates.format(review.reviewedAt, 'yyyy年MM月dd日')}">
														</span>
													</p>
													<p class="card-text" th:text="${review.review}"></p>
												</div>
											</div>
										</div>
						    			</div>	
									</div>
									<!-- ページネーション -->
									<div th:if="${reviewPage.getTotalPages() > 1}" class="d-flex justify-content-center">
										<nav aria-label="レビュー一覧ページ">
											<ul class="pagination">
												<li class="page-item">
													
													<span th:if="${reviewPage.isFirst()}" class="page-link disabled">前</span>
													<a th:unless="${reviewPage.isFirst()}" th:href="@{/reviews/list/{houseId}(houseId=${house.getId()}, page=${reviewPage.getNumber() - 1})}" class="page-link samuraitravel-page-link">前</a>
												</li>
												<li th:each="i : ${#numbers.sequence(0, reviewPage.getTotalPages() - 1)}" class="page-item">
													<span th:if="${i == reviewPage.getNumber()}" class="page-link active samuraitravel-active" th:text="${i + 1}"></span>
													<a th:unless="${i == reviewPage.getNumber()}" th:href="@{/reviews/list/{houseId}(houseId=${house.getId()}, page=${i})}" class="page-link samuraitravel-page-link" th:text="${i + 1}"></a>
												</li>
												<li class="page-item">                        
													<span th:if="${reviewPage.isLast()}" class="page-link disabled">次</span>
													<a th:unless="${reviewPage.isLast()}" th:href="@{/reviews/list/{houseId}(houseId=${house.getId()}, page=${reviewPage.getNumber() + 1})}" class="page-link samuraitravel-page-link">次</a>
												</li>
											</ul>
										</nav> 
									</div>
							</div>	
						</div>    
					</div>
				</div>
			</div>
		</main>
		</div>
         
         
	</body>
</html>